body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-image: url("images/job-bk7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#top-bar {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  margin: 0;
  line-height: 38px;
  background-color: #134165;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.25);
}

#top-bar img {
  width: 100px;
  height: 55px;
  padding: 0 10px;
  margin-left: 2px;
  border-radius: 10px;
}

#side-elements {
  margin-right: 22px;
}

#side-elements ul {
  padding: 0;
  margin: 0;
}

#side-elements li {
  display: inline;
  list-style: none;
  line-height: 53px;
  font-size: 14px;
  margin-left: 14px;
  color: white;
}

#side-elements li:hover {
  cursor: pointer;
}

h1 {
  text-align: center;
  margin-top: 195px;
  font-size: 44px;
  color: #134165;
  margin-bottom: 14px;
}

h4 {
  margin: 0;
  line-height: 53px;
  font-size: 20px;
  margin-left: 10px;
  color: whitesmoke;
}

.box {
  margin-inline: 200px;
  border-radius: 10px;
}

form {
  text-align: center;
  padding: 10px 30px;
  margin: 15px 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}

.search-bar {
  padding: 15px;
  border: 1px solid #134165;
  border-radius: 30px;
  width: 35%;
  font-size: 13px;
  line-height: 20px;
  color: rgb(55, 4, 103);
}

.submit-btn {
  margin-left: 10px;
  background: #134165;
  color: whitesmoke;
  border: none;
  border-radius: 30px;
  padding: 14px 24px;
}

.submit-btn:hover {
  cursor: pointer;
}

.results {
  font-size: 14px;
  background-color: whitesmoke;
  opacity: 0.8;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #134165;
  border-radius: 10px;
  box-shadow: 0 4px 30px 0 rgba(39, 33, 66, 0.2);
  margin-inline: 200px;
}

.hidden {
  display: none;
}

.job-results {
  color: #134165;
}
